# TASK 1

In [3]:
#import pandas and make data dataframe
import pandas as pd
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')
air_data = pd.DataFrame(air_data)
air_data.head()

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.1800,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.1625,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.4375,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.4750,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook

In [5]:
#TASK 1
#What are the 5 locations in Nebraska with the highest mean and median concentrations of VOC, PM 2.5 and PM 10.0
#voc top5 mean
voc_data1=air_data.groupby('sensor.name').agg(Mean_voc =('voc','mean'))
task1_voc_mean=voc_data1.sort_values(by = 'Mean_voc', ascending = False).head(5)
task1_voc_mean

                                         Mean_voc
sensor.name
Swnphd-ogallala                        399.434240
FCHD-YPS                               372.462720
Three Rivers Public Health Department  370.216208
ELVPHD Norfolk HD 4                    360.833744
Swnphd-mccook                          353.941581

In [6]:
#voc top5 median
voc_data2=air_data.groupby('sensor.name').agg(Median_voc =('voc','median'))
task1_voc_median=voc_data2.sort_values(by = 'Median_voc', ascending = False).head(5)
task1_voc_median

                                       Median_voc
sensor.name
Swnphd-ogallala                        423.082292
Swnphd-mccook                          381.468479
Three Rivers Public Health Department  376.810167
FCHD-YPS                               375.383500
ELVPHD Norfolk HD 4                    368.580500

In [7]:
#pm2.5 top 5 mean
pm25_data1=air_data.groupby('sensor.name').agg(Mean_pm25 =('pm2.5_atm','mean'))
task1_pm25_mean=pm25_data1.sort_values(by = 'Mean_pm25', ascending = False).head(5)
task1_pm25_mean

                                                     Mean_pm25
sensor.name
Broken Bow                                          928.710593
#16 - Richardson County Courthouse                  700.127342
#18 - Southeast District Health Department- Tec...  613.175352
NCDHD O'Neill #11                                   164.495078
Swnphd-mccook                                       123.011622

In [8]:
#pm2.5 top 5 median
pm25_data2=air_data.groupby('sensor.name').agg(Median_pm25 =('pm2.5_atm','median'))
task1_pm25_median=pm25_data2.sort_values(by = 'Median_pm25', ascending = False).head(5)
task1_pm25_median

                                                    Median_pm25
sensor.name
Broken Bow                                            36.050240
#16 - Richardson County Courthouse                    11.977344
#18 - Southeast District Health Department- Tec...    10.322875
ELVPHD Norfolk HD 4                                    9.706229
ELVPHD Wisner HD 5                                     8.464583

In [9]:
#pm10.0 top 5 mean
pm10_data1=air_data.groupby('sensor.name').agg(Mean_pm10 =('pm10.0_atm','mean'))
task1_pm10_mean=pm10_data1.sort_values(by = 'Mean_pm10', ascending = False).head(5)
task1_pm10_mean

                                                     Mean_pm10
sensor.name
Broken Bow                                          929.678512
#16 - Richardson County Courthouse                  701.632446
#18 - Southeast District Health Department- Tec...  614.227248
NCDHD O'Neill #11                                   166.132578
Swnphd-mccook                                       124.227336

In [10]:
#pm10.0 top 5 median
pm10_data2=air_data.groupby('sensor.name').agg(Median_pm10 =('pm10.0_atm','median'))
task1_pm10_median=pm10_data2.sort_values(by = 'Median_pm10', ascending = False).head(5)
task1_pm10_median

                                                    Median_pm10
sensor.name
Broken Bow                                            43.179094
#16 - Richardson County Courthouse                    13.305615
ELVPHD Norfolk HD 4                                   11.474708
#18 - Southeast District Health Department- Tec...    11.433729
ELVPHD Wisner HD 5                                    10.935958

# TASK 2

In [11]:
#TASK 2
#On what days did the maximum values (top 5 voc,pm2.5,pm10.0) occur and where did this maximums occur?
#max5 voc


voc_data3 = air_data.loc[air_data.groupby('date')['voc'].idxmax()]
task2_voc_max = voc_data3.sort_values(by='voc', ascending=False).head(5)

task2_voc_max[['date', 'sensor.name', 'voc']]

          date          sensor.name          voc
2391  06/24/24      Swnphd-ogallala  1209.931571
4795  10/05/24       SWNPHD-Imerial  1135.473000
5774  11/23/24       SWNPHD-Imerial  1041.722000
4948  10/12/24  ELVPHD Norfolk HD 4   884.649000
5024  10/16/24       SWNPHD-Imerial   871.182000

In [13]:
#max5 pm2.5
pm25_data3 = air_data.loc[air_data.groupby('date')['pm2.5_atm'].idxmax()]
task2_pm25_max = pm25_data3.sort_values(by='pm2.5_atm', ascending=False).head(5)

task2_pm25_max[['date', 'sensor.name', 'pm2.5_atm']]

          date                         sensor.name    pm2.5_atm
7561  02/18/25  #16 - Richardson County Courthouse  3782.823313
7583  02/19/25  #16 - Richardson County Courthouse  3401.999333
7605  02/20/25  #16 - Richardson County Courthouse  3243.746646
6962  01/21/25  #16 - Richardson County Courthouse  3209.817146
6952  01/20/25                          Broken Bow  3087.149167

In [14]:
#max5 pm10.0
pm10_data3 = air_data.loc[air_data.groupby('date')['pm10.0_atm'].idxmax()]
task2_pm10_max = pm10_data3.sort_values(by='pm10.0_atm', ascending=False).head(5)

task2_pm10_max[['date', 'sensor.name', 'pm10.0_atm']]

          date                         sensor.name   pm10.0_atm
7561  02/18/25  #16 - Richardson County Courthouse  3784.682542
7583  02/19/25  #16 - Richardson County Courthouse  3403.435958
7605  02/20/25  #16 - Richardson County Courthouse  3245.613354
6962  01/21/25  #16 - Richardson County Courthouse  3211.046813
6952  01/20/25                          Broken Bow  3088.053896

# TASK 3

In [14]:
#Does humidity and temperature have a noticeable effect on air quality
#set catagories for temperature
def temp_cat(t):
    if t < 32:
        return 'Below Freezeing'
    elif 32 <= t <= 50:
        return 'Cool'
    elif 51 <= t <= 70:
        return 'Warm'
    else:
        return 'Hot'
#set catagories for humidity
def humid_cat(h):
    if h < 50:
        return "Low Humidity"
    elif h < 80:
        return "High Humidity"
    else:
        return "Very High Humidity"
#apply catagorizations 
air_data['temperature.level'] = air_data['temperature'].apply(temp_cat)
air_data['humidity.level'] = air_data['humidity'].apply(humid_cat)

In [15]:
#group temp catagories 
temp_data1=air_data.groupby('temperature.level').agg(voc_mean = ('voc','mean'),
                                                     pm25_mean = ('pm2.5_atm','mean'),
                                                     pm10_mean = ('pm10.0_atm','mean'))
temp_data1

                     voc_mean   pm25_mean   pm10_mean
temperature.level
Below Freezeing    257.628626  273.698560  276.080794
Cool               285.435146  141.658843  143.074475
Hot                281.957598   72.309380   73.964812
Warm               255.916308   83.102238   84.021411

In [16]:
humid_data1=air_data.groupby('humidity.level').agg(voc_mean = ('voc','mean'),
                                                     pm25_mean = ('pm2.5_atm','mean'),
                                                     pm10_mean = ('pm10.0_atm','mean'))
humid_data1

                      voc_mean   pm25_mean   pm10_mean
humidity.level
High Humidity       252.664069   80.874444   82.561133
Low Humidity        279.329347   76.513935   77.880520
Very High Humidity   19.395555  533.786399  536.520850

# TASK 4

In [19]:
#Have there been any Air Quality Index (AQI) health risks (unhealthy for sensitive populations) 
#at any of the locations in the dataset for PM 2.5 and PM 10 based on the EPAâ€™s AQI ratings?
#pm2.5-35.5
#pm10.0-155
unhealthy_check_pm25 = (air_data[(air_data['pm2.5_atm'] >= 35.5)&(air_data['pm2.5_atm'] <= 55.4)].groupby('sensor.name').agg(unhealthy_dates=('date', list),
                                                                                           unhealthy_count=('date', 'count')))

unhealthy_check_pm25

,unhealthy_dates,unhealthy_count
sensor.name,,
#16 - Richardson County Courthouse,[08/20/24],1
#17 - Otoe County,"[08/20/24, 01/09/25]",2
#18 - Southeast District Health Department- Tecumseh,[05/15/24],1
Ainsworth Public School #9,"[07/23/24, 07/24/24, 07/25/24, 07/26/24, 08/20...",7
Broken Bow,"[05/14/24, 07/23/24, 07/24/24, 07/25/24, 07/26...",9
Buffalo County TRPHD #26,"[05/14/24, 05/15/24, 07/25/24, 07/26/24, 08/20...",7
ELVPHD Norfolk HD 4,"[03/29/24, 05/14/24, 05/15/24, 07/09/24, 07/26...",6
ELVPHD Tekamah HD 3,"[05/14/24, 08/20/24]",2
ELVPHD Wisner HD 5,"[03/29/24, 05/14/24, 05/15/24, 07/09/24, 07/10...",9
FCHD-YPS,"[07/25/24, 08/20/24]",2
Laurel High School,"[05/14/24, 05/15/24]",2
Loup Basin Public Health Department,"[05/14/24, 07/25/24, 07/26/24, 07/27/24, 08/20...",7
Lower Niobrara NRD Butte 10,"[05/14/24, 07/24/24, 07/25/24, 07/26/24, 08/20...",6
NCDHD O'Neill #11,"[05/14/24, 08/20/24, 09/05/24]",3
PHS Fairbury JCHL 13,"[05/14/24, 08/20/24, 01/09/25, 02/15/25]",4
SWNPHD-Imerial,"[07/22/24, 07/23/24, 07/24/24, 07/25/24, 07/26...",5
South Heartland District Health Dept. Hastings office,"[05/14/24, 05/15/24, 07/25/24, 07/26/24, 08/20...",6
South Heartland District Health Dept. Superior City Building,"[08/20/24, 01/09/25, 02/15/25]",3
Swnphd-Benklemen,"[07/22/24, 07/23/24, 07/24/24, 07/25/24, 07/26...",6
Swnphd-mccook,"[07/24/24, 07/25/24, 07/26/24, 03/02/25]",4
Swnphd-ogallala,"[04/06/24, 07/22/24, 07/23/24, 07/24/24, 07/25...",6
TRPHD Dawson Co. Courthouse 25,"[07/24/24, 07/25/24, 07/26/24, 08/20/24, 08/21...",6
TRPHD Harlan Co. Courthouse 24,"[04/06/24, 07/25/24, 07/26/24, 08/20/24]",4
Three Rivers Public Health Department,"[05/14/24, 08/20/24, 12/24/24, 02/15/25]",4
WCDHD Arthur High School 28,"[07/22/24, 07/23/24, 07/24/24, 07/25/24, 07/26...",5
WCDHD Thedford Library 29,[02/15/25],1

In [20]:
unhealthy_check_pm10 = (air_data[(air_data['pm10.0_atm'] >= 155)&(air_data['pm10.0_atm'] <= 254)].groupby('sensor.name').agg(unhealthy_dates=('date', list),
                                                                                                                              unhealthy_count=('date', 'count')))

unhealthy_check_pm10

                                    unhealthy_dates  unhealthy_count
sensor.name
#16 - Richardson County Courthouse       [12/08/24]                1
Loup Basin Public Health Department      [06/14/24]                1
Swnphd-Benklemen                         [06/27/24]                1